<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <a href="/">
        <img class="header__logo-image" src="/logo.png" alt="ale02code" />
      </a>
    </div>
  </div>

  <div class="header__menu-container">
    <div class="header__menu-icon">
      <svg
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="header__menu-svg"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M4 6l16 0"></path>
        <path d="M4 12l16 0"></path>
        <path d="M4 18l16 0" class="header__menu-line"></path>
      </svg>
    </div>

    <div class="header__nav-container header__nav-container--hidden">
      <nav class="header__nav">
        <a class="header__nav-link" href="#">Inicio</a>
        <a class="header__nav-link" href="#">Sobre mi</a>
        <a class="header__nav-link" href="#">Proyectos</a>
        <a class="header__nav-link" href="#">Contacto</a>
      </nav>
    </div>
  </div>
</header>

<style>
  .header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }

  .header__menu-svg {
    height: 65px;
    cursor: pointer;
  }

  .header__logo {
    height: 80px;
  }

  .header__logo-image {
    height: 100%;
    cursor: pointer;
  }

  .header__menu-icon {
    color: #fff;
  }

  .header__nav-container--hidden {
    display: none;
  }

  .header__menu-line {
    height: 85px;
    cursor: pointer;
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .header__nav-link {
    color: white;
    text-decoration: none;
  }
</style>
