---
import SocialNetworkIcon from "./SocialNetworkIcon.astro";
---

<section class="profile">
  <div class="profile__image-wrapper">
    <div class="profile__image-container">
      <img
        class="profile__image"
        src="profile-image.png"
        alt="Christopher Chacon"
      />
    </div>
  </div>

  <div class="profile__content">
    <div class="profile__text">
      <span class="profile__role">Software Developer</span>
      <h1 class="profile__name">Christopher Chacon</h1>
      <p class="profile__description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium
        ipsam omnis adipisci quam officia eius laboriosam, odit quidem ab optio
        porro, qui quisquam voluptates ducimus.
      </p>
      <a class="profile__link" href="#">More about me</a>
    </div>

    <div class="profile__social-networks">
      <SocialNetworkIcon
        title="Instagram"
        src="/social-networks/instagram.svg"
      />
      <SocialNetworkIcon title="Tik Tok" src="/social-networks/tiktok.svg" />
      <SocialNetworkIcon title="Github" src="/social-networks/github.svg" />
    </div>
  </div>
</section>

<style>
  .profile__name {
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  .profile__role {
    text-transform: capitalize;
  }

  .profile__social-networks {
    display: flex;
  }

  .profile__image-container {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: start;
    border: solid 3px #000;
    border-radius: 50%;
    background: rgb(93, 93, 214);
    overflow: hidden;
  }

  .profile__image {
    height: 200px;
  }
</style>
