---
interface Props {
  title: string;
  src: string;
}

const { title, src } = Astro.props;
---

<div class="social-network">
  <img
    class="social-network__image"
    src={src}
    alt={`ale02code en ${title}`}
    title={title}
  />
</div>

<style>
  .social-network {
    height: 3rem;
  }

  .social-network__image {
    background-color: #5d5dd6;
    border-radius: 4px;
    padding: 5px;
    height: 100%;
  }
</style>
